@font-face {
  font-family: 'Qebil';
  src:  url('https://dl.dropbox.com/scl/fi/subbzb6w367dz2ulzzuo6/QEBIL-3.otf?rlkey=39qha5bg96ct01ru33wikmmj0&dl=0');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
